@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Nag+Mundari:wght@400..700&display=swap');

/* Estilos globales */
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

/* Header */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #ec407a, #ab47bc 50%, #f06292); /* Gradiente en tonos rosados y lilas */
    position: relative;
}

.Header_menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.Header_menu_link {
    background: linear-gradient(to right, #e91e63, #9c27b0 50%, #f48fb1);
    border-radius: 16px;
    color: white; /* Color del texto de los enlaces */
    text-decoration: none;
    padding: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px; /* Ajusta el tamaño de la fuente */
}

.icono_mya {
    position: absolute;
    top: 10px;
    left: 10px; /* Ajusta la posición para que se ajuste a tu diseño */
    width: 50px; /* Ajusta el tamaño */
    height: auto;
}

/* Centrado de los enlaces de navegación */
.Header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.Header_menu_link {
    margin: 0 20px; /* Ajusta el espacio entre los enlaces */
}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
    cursor: pointer;
}


/* Carrito de Compras */
.container-cart-products {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    gap: 15px;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-close:hover {
    stroke: red;
}

/* Carrito Total */
.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}


/* Estilos para los botones de aumentar y disminuir cantidad */
.product-quantity-buttons {
    display: flex;
    gap: 5px;
}

.btn-decrease, .btn-increase {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

.btn-decrease:hover, .btn-increase:hover {
    background-color: #e0e0e0;
}

/* Botón de envío por WhatsApp */
.btn-send-whatsapp {
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-send-whatsapp:hover {
    background-color: #1DA851;
}

/* Price and Button side by side */
.price-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.price {
    font-size: 25px;
    font-weight: bold;
    color: #e91e63;
}

.product-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-quantity .quantity {
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    text-align: center;
}

.product-quantity button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.product-quantity button:hover {
    background-color: #e0e0e0;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

/* Mensaje carrito vacío */
.cart-empty {
    padding: 10%;
    text-align: center;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

/* Contenedor principal */
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Columna para la imagen */
.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain; /* O puedes usar 'cover' según cómo desees que se vea la imagen */
    width: 100%;
    height: auto;
}

.product-image img {
    max-width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-image-container {
    width: 100%;
    max-width: 400px; /* Ajusta esto según lo que prefieras */
    margin: 0 auto;
    overflow: hidden;
}

.container-items {
    gap: 200px;
    padding: 20px;
    background-color: #f5f5f5;
}

.container-items .item {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container-items .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Columna de información */
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 200px; /* Añade un padding a la izquierda del texto para separarlo más de la imagen */
    max-width: 600px; /* Puedes ajustar el ancho máximo si lo necesitas */
}

.product-info h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.product-info .price {
    font-size: 1.8rem;
    color: #e91e63;
    font-weight: bold;
    margin: 10px 0;
}

.product-info p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo del botón "Añadir al carrito" */
.info-product button {
    background-color: #ff4081; /* Color más brillante para el botón */
    font-size: 18px; /* Tamaño de texto más grande en el botón */
    font-weight: bold; /* Negrita en el texto del botón */
    padding: 15px 20px; /* Más espacio en el botón */
    border-radius: 8px; /* Bordes más redondeados */
    transition: background-color 0.3s ease; /* Animación al pasar el cursor */
    cursor: pointer; /* Cambio de cursor al pasar por encima */
    text-align: center;
    border: none;
    color: #fff;
}

/* Cambios en el hover del botón */
.info-product button:hover {
    background-color: #e91e63; /* Color más oscuro en hover */
}


/* Estilo para la calificación de estrellas */
.rating {
    display: flex;
    direction: ltr; /* De izquierda a derecha para las estrellas del usuario */
}

#average-text {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #333; /* Color para el texto del promedio */
}

.star,
.average-star {
    font-size: 2rem;
    color: #ccc; /* Color por defecto */
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.star:hover,
.star.hovered,
.average-star.active {
    color: #FFD700; /* Color de las estrellas activas */
}

.star.active {
    color: #FFD700; /* Color de las estrellas activas */
}

.rating-info {
    margin-top: 10px;
}

.rating-info p {
    font-size: 1rem;
    margin: 5px 0;
}

.average-rating .rating .average-star {
    font-size: 2rem; /* Ajusta el tamaño de las estrellas */
    color: #ccc; /* Color por defecto */
    transition: color 0.3s ease; /* Transición suave al cambiar color */
    position: relative; /* Necesario para la media estrella */
}

.average-rating .rating .average-star.active {
    color: #FFD700; /* Color dorado cuando se activa */
}

/* Media estrella */
.average-star.half::before {
    content: '\2605'; /* Estrella llena */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FFD700; /* Color dorado */
    width: 50%; /* Solo llenamos la mitad */
}

/* Cuarta estrella */
.average-star.quarter::before {
    content: '\2605'; /* Estrella llena */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FFD700; /* Color dorado */
    width: 25%; /* Solo llenamos un cuarto */
}

/* Tres cuartas partes de estrella */
.average-star.three-quarters::before {
    content: '\2605'; /* Estrella llena */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FFD700; /* Color dorado */
    width: 75%; /* Llenamos tres cuartos */
}

/* Footer */
footer {
    background: linear-gradient(to right, #ec407a, #ab47bc 50%, #f48fb1);
    width: auto;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    margin-top: auto;
}