.contact {
    margin-bottom: 40px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

#map {
    height: auto;
    width: 100%; /* Aseguramos que el mapa ocupe el 100% del contenedor */
    max-width: 100%; /* Prevenir que el mapa exceda el ancho máximo del contenedor */
    border: 0; /* Eliminar cualquier borde que pueda afectar el diseño */
}

.consultation-form {
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ccc; /* Bordes */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.consultation-form h3 {
    margin-bottom: 15px; /* Espaciado inferior */
    color: #d5006d; /* Color atractivo para el título */
}

.consultation-form label {
    display: block; /* Etiquetas en bloque */
    margin-bottom: 5px; /* Espaciado inferior */
    font-weight: bold; /* Negrita */
}

.consultation-form input, 
.consultation-form textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Bordes */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado inferior */
}

.consultation-form button {
    background-color: #d5006d; /* Color del botón */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición suave */
}

.consultation-form button:hover {
    background-color: #a3004c; /* Color al pasar el ratón */
}

.contact-container {
    display: flex; /* Coloca los elementos en fila */
    gap: 20px; /* Espaciado entre el mapa y el formulario */
    justify-content: space-between; /* Distribuye el espacio sobrante */
    align-items: flex-start; /* Alinea ambos elementos al inicio */
}

.contact-container .map {
    width: 40%; /* El contenedor del mapa también ocupa todo el ancho */
    overflow: hidden; /* Evitar que se desborde el contenido */
    max-width: 100%; /* Evitar que el mapa exceda los límites del contenedor */
}

.contact-container .consultation-form {
    flex: 1; /* El formulario ocupará la misma cantidad de espacio */
}

.customer-support {
    background-color: #f9f9f9; /* Fondo claro similar al formulario */
    border: 1px solid #ccc; /* Bordes como el formulario */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.customer-support h3 {
    margin-bottom: 15px; /* Espaciado inferior */
    color: #d5006d; /* Color del título, igual al formulario */
}

.customer-support p {
    margin-bottom: 10px; /* Espaciado entre párrafos */
    line-height: 1.5; /* Espaciado de línea para mejor legibilidad */
}

.customer-support a {
    color: #d5006d; /* Enlace en color del título */
    text-decoration: none; /* Sin subrayado */
}

.customer-support a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 9px;
}

/* Estilos para pantallas de hasta 1024px */
@media (max-width: 1024px) {
    .contact-container {
        gap: 15px; /* Reducir el espacio entre el mapa y el formulario */
    }

    .consultation-form h3, 
    .customer-support h3 {
        font-size: 20px; /* Reducir ligeramente el tamaño del título */
    }

    .consultation-form input, 
    .consultation-form textarea {
        padding: 9px; /* Ajustar el padding */
    }

    .consultation-form button {
        font-size: 15px; /* Reducir ligeramente el tamaño de la fuente */
    }

    .contact-container {
        flex-direction: column; /* Colocar los elementos en columna */
    }
    .contact-container .map {
        width: 100%; /* El mapa ocupa el 100% del ancho */
        max-width: 100%;
    }
}

/* Estilos para pantallas de hasta 768px */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Colocar los elementos en columna */
        gap: 10px; /* Reducir aún más el espacio entre los elementos */
    }

    .contact-container .consultation-form {
        width: 100%; /* Ambos elementos ocupan todo el ancho */
    }

    .consultation-form, 
    .customer-support {
        padding: 15px; /* Reducir el padding para pantallas más pequeñas */
    }

    .consultation-form h3, 
    .customer-support h3 {
        font-size: 18px; /* Reducir más el tamaño del título */
    }

    .contact-container .map {
        width: 100%; /* Asegurar que el mapa ocupe todo el ancho */
        height: 300px; /* Fijar una altura específica si es necesario */
    }

    .consultation-form button {
        width: 100%; /* El botón ocupa todo el ancho */
        font-size: 14px; /* Reducir el tamaño de la fuente */
    }

    .right-column {
        width: 100%; /* Ocupar el ancho total */
        margin: 0 auto; /* Centrar si es necesario */
        padding: 0; /* Ajustar el padding si es necesario */
    }

    .social-media a {
        margin-right: 10px; /* Reducir el espacio entre íconos sociales */
    }
}

/* Estilos para pantallas de hasta 480px */
@media (max-width: 480px) {
    .consultation-form input, 
    .consultation-form textarea {
        padding: 8px; /* Reducir padding en campos de texto */
        font-size: 14px; /* Reducir tamaño de la fuente */
    }

    .contact-container {
        flex-direction: column; /* Alinear en columna */
        gap: 5px; /* Menor espacio entre el mapa y el formulario */
    }
    .contact-container .map {
        width: 100%; /* Mantener el ancho completo */
        height: 250px; /* Reducir altura para pantallas pequeñas */
    }

    .consultation-form button {
        padding: 8px 12px; /* Ajustar el espaciado del botón */
        font-size: 13px; /* Reducir aún más el tamaño de la fuente */
    }

    .customer-support p {
        font-size: 14px; /* Reducir tamaño de fuente en el soporte al cliente */
    }

    .social-media a {
        margin-right: 5px; /* Ajustar espaciado de íconos sociales */
    }

    .right-column {
        width: 100%; /* Ocupar el ancho total */
        margin: 0 auto; /* Centrar si es necesario */
        padding: 0; /* Ajustar el padding si es necesario */
    }

    .consultation-form h3, 
    .customer-support h3 {
        font-size: 16px; /* Reducir el tamaño del título */
    }
}

@media (max-width: 1024px) {
    .contact-container {
        flex-direction: column; /* Cambiar a disposición en columna */
        gap: 10px; /* Reducir espacio entre elementos */
    }

    .contact-container .map, 
    .contact-container .consultation-form {
        width: 100%; /* Ambos elementos ocuparán todo el ancho */
    }

    .consultation-form {
        padding: 15px; /* Reducir el espaciado interno */
    }

    .consultation-form button {
        font-size: 14px; /* Ajustar el tamaño del texto */
        padding: 8px 12px; /* Ajustar el padding */
    }

    .customer-support {
        padding: 15px; /* Reducir el espaciado interno */
    }
}

@media (max-width: 768px) {
    .contact {
        margin-bottom: 30px; /* Reducir el margen inferior */
    }

    .social-media {
        text-align: center; /* Centrar iconos */
    }

    .social-media a {
        margin-right: 10px; /* Reducir el margen derecho */
        font-size: 14px; /* Ajustar el tamaño de los iconos/enlaces */
    }

    .consultation-form {
        padding: 10px; /* Reducir el padding */
    }

    .consultation-form input, 
    .consultation-form textarea {
        padding: 8px; /* Reducir el padding de los campos */
    }

    .consultation-form button {
        padding: 8px; /* Ajustar el tamaño del botón */
        font-size: 14px;
    }

    .customer-support {
        padding: 10px; /* Reducir el padding */
    }

    .customer-support p {
        font-size: 14px; /* Reducir el tamaño del texto */
    }

    .right-column {
        padding: 5px; /* Reducir padding en la columna derecha */
    }
}

@media (max-width: 480px) {
    .contact {
        margin-bottom: 20px; /* Reducir más el margen inferior */
    }

    .social-media {
        margin: 10px 0; /* Reducir el margen superior/inferior */
        text-align: center; /* Asegurarse de que los iconos estén centrados */
    }

    .social-media a {
        margin-right: 5px; /* Reducir el margen entre los iconos */
        font-size: 12px; /* Hacer los iconos más pequeños */
    }

    .consultation-form {
        padding: 5px; /* Reducir padding interno */
        box-shadow: none; /* Eliminar la sombra en pantallas pequeñas */
    }

    .consultation-form input, 
    .consultation-form textarea {
        padding: 6px; /* Reducir padding en los campos */
        font-size: 14px; /* Reducir el tamaño del texto */
    }

    .consultation-form button {
        padding: 6px 10px; /* Reducir el tamaño del botón */
        font-size: 12px;
    }

    .customer-support {
        padding: 5px; /* Reducir el padding en la sección de soporte */
        box-shadow: none; /* Eliminar la sombra */
    }

    .customer-support p {
        font-size: 12px; /* Reducir tamaño de fuente */
    }

    .right-column {
        padding: 5px; /* Ajustar padding */
    }
}
